{% extends "layout.html" %}
{% block title %}Image classification list{% endblock %}
{% block content %}
    <h1>Image Classification</h1>
    <p class="lead">
        Image classification tool, just click on whatever label the image matches
    </p>
    <div class="col-xs-12 hidden" id="image-classifier-template" data-image-id="">
        <img class="img-responsive col-xs-8 col-md-6 " src="" />
        <div class="labels col-xs-4 col-md-6">
            {% for label in config.labels %}
                <a href="#" class="label-selector btn btn-info">
                    {{ label }}
                </a>
            {% endfor %}
        </div>
    </div>
    <script>
        var images = JSON.parse('{{ images|tojson }}');
        var labels = JSON.parse('{{ config.labels|tojson }}');
        var imageFolder = '{{ config.imageFolder }}';
    </script>
{% endblock %}

